.conta {right: 0; text-align: center;}

.conta .left, .conta .center, .conta .right { display: inline-block; }

.conta .left { float: left; }
.conta .center { margin: 0 auto; }
.conta .right { float: right; }

.ellipsis{
    max-width: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabla-pagos{
    font-size: 10px;
}

@media print{
     @page {
        size: letter landscape;
        margin: 0;
        padding: 0;
    }
    html, body{
        margin-top: 10mm;
        margin-bottom: 10mm;
        margin-right: 5mm;
        margin-left: 5mm;
        background: white;
        font-size: 7px;
        padding: 0;
    }
   
    h4{
        font-size: 9px;
    }
    
    #titulo{
        font-size: 14px;
    }
    table, td{
        font-size: 7px;
    }
    #nav-tab {display: none}
    #botones {display: none}
    #imprimible {
        font-size: 9px;
        margin: 0;
        padding: 0;
    }
 
    .table-striped>tbody>tr:nth-child(odd)>td{
     background-color: #ff0;
    }
    .table-striped>tbody>tr:nth-child(even)>td{
     background-color: #ccc;
    }
    .table-striped>thead>tr>th {
       background-color: #eee;
    }
}