.conta {right: 0; text-align: center;}

.conta .left, .conta .center, .conta .right { display: inline-block; }

.conta .left { float: left; }
.conta .center { margin: 0 auto; }
.conta .right { float: right; }

.ellipsis{
    max-width: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabla-pagos{
    font-size: 10px;
}

.imprimible {
        font-size: 9px;
        margin: 0;
        padding: 0;
        orphans: 4;
        widows: 4;
    }

.imprime {
        margin: 0;
        padding: 0;
    }

.mr .contenido{
  font-size: 16px;
}

option{
  font-size: 16px;
}

.cardhome{
  z-index: -999;
}


.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}


.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}


.submenu{
    background: rgba(245,245,247,0.7);
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center; 
    height: 80px;
    z-index: -999;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

@media print{

   /*  .saltoDePagina{
        display:block;
        page-break-before:always;
      } */


    html, body{
        size: letter;
        margin: 0;
        background: white;
        padding: 0;
    }
    .imprime br{
      display: none;
    }
    .imprime{
      margin: 0;
      margin-top: 20px;
      padding: 0;
      orphans: 4;
      widows: 4;
    }
    .imprime, h3{
      font-size: 15px;
    }

    .conta .imagen1{
      width: 320px;
      height: 80px;
    }

    .piepag{
      margin-top: 30mm;
      margin-bottom: 0mm;
    }

    .container-contact100{
        margin: 0mm;
        padding: 0;
    }

    .wrap-contact100{
      margin: 0mm;
      padding: 0;
      width: 100%;
    }
    
    #titulo{
        font-size: 20px;
    }
    .imprime .custom-control-label{
      padding: 0;
      margin-top: 0mm;
      margin-bottom: 0mm;
    }
    
    hr {
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #aaa;
}

    table, td{
        font-size: 7px;
    }
    #nav-tab {display: none}
    #botones {display: none}

    .tab-content{
      size: letter landscape;
    }

    .imprimible{
        font-size: 9px;
        margin: 0;
        padding: 0;
        orphans: 4;
        widows: 4;
    }


    .imprimible, h4, h6{
      font-size: 9px;
    }
 
    .table-striped>tbody>tr:nth-child(odd)>td{
     background-color: #ff0;
    }
    .table-striped>tbody>tr:nth-child(even)>td{
     background-color: #ccc;
    }
    .table-striped>thead>tr>th {
       background-color: #eee;
    }
}

