.conta {right: 0; text-align: center;}

.conta .left, .conta .center, .conta .right { display: inline-block; }

.conta .left { float: left; }
.conta .center { margin: 0 auto; }
.conta .right { float: right; }

.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media print{
     @page {
        size: letter landscape;
        margin: 0;
    }
    html, body{
        margin: 10mm 10mm 0mm 0mm;
        background: white;
        font-size: 7px;
    }
   body{
        padding-top: 15mm;
        padding-bottom: 15mm;
   }
    h4{
        font-size: 14px;
    }
    table, td{
        font-size: 7px;
    }
    #nav-tab {display: none}
    #botones {display: none}
    #imprimible {font-size: 9px;}
    
    .table-striped>tbody>tr:nth-child(odd)>td{
     background-color: #ff0;
    }
    .table-striped>tbody>tr:nth-child(even)>td{
     background-color: #ccc;
    }
    .table-striped>thead>tr>th {
       background-color: #eee;
    }
}